@using Microsoft.AspNetCore.Identity;
@using capanna.alessandro._5H.prenota.Controllers;
@inject SignInManager<Utente> signInManager
<style>
    .btn-hover {
        transition: all 0.5s ease;
    }

        .btn-hover:hover {
        color: #000;
        transform: scale(1.2);
    }
</style>
<ul class="navbar-nav">
    @if (signInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown">
            <ul>
                <a class="navbar-brand" asp-area="" asp-controller="Carrello" asp-action="Index">
                    <img style="width: 100px; height: 100px" src="Carrello.png" alt="Carrello">
                </a>
            </ul>
            <a class="nav-link dropdown-toggle btn-lg btn-hover" style="font-size: x-large;" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" data-bs-auto-close="false" aria-expanded="false">
                @User.Identity!.Name!
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                    <a class="dropdown-item" asp-action="Logout" asp-controller="Account">
                        Logout
                    </a>
                </li>
                <li>
                    <!------------------------------------------------------------------------------>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-danger" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" data-bs-auto-close="inside" aria-expanded="false">
                            Delete
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item text-danger font-weight-bold" asp-action="Delete" asp-controller="Account">
                                    Sure?
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!------------------------------------------------------------------------------>
                </li>
            </ul>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark btn-lg btn-hover" asp-area="" style="font-size: x-large;" asp-controller="Account" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark btn-lg btn-hover" asp-area="" style="font-size: x-large;" asp-controller="Account" asp-action="Login">Login</a>
        </li>
    }
</ul>
