@model List<Carrello>

@{
    ViewData["Title"] = "Carrello";
}

<h1>Il tuo Carrello</h1>

<ul>
    @foreach (var item in Model)
    {
        <li>
            @if(User.Identity!.Name! == item.Username_Utente || User.Identity!.Name! == "Kappa" || User.Identity!.Name! == "MConti") 
            {
                @item.Nome_Prodotto;
                @item.NumeroDiOggetti;
            }
        </li>
    }
</ul>
