@model List<Carrello>

@{
    ViewData["Title"] = "Carrello";
}

<h1>Il tuo Carrello</h1>

<table>
    @foreach (var item in Model)
    {
        <tr>
            
            @if(User.Identity!.Name! == item.Username_Utente || User.Identity!.Name! == "Kappa" || User.Identity!.Name! == "MConti") 
            {
                <td>
                    @item.Nome_Prodotto;
                </td>
                <td>
                    @item.NumeroDiOggetti;
                </td>
            }
            
            <td>
            <form asp-action="RemoveItem" method="post" asp-route-id="@item.Nome_Prodotto">
                <input class="btn btn-primary" type="submit" value="Remove">
            </form>
            </td>
        </tr>
    }
</table>