@{
    ViewData["Title"] = "Privacy Policy";
}


<h1>@ViewData["Title"]</h1>

<p>
Questa Privacy Policy descrive come Prenotazioni 5° raccolga, utilizza e condivide le informazioni personali quando visiti e utilizzi il nostro sito web [URL del tuo sito] (il "Sito").
Raccolta e Utilizzo delle Informazioni
Raccogliamo diversi tipi di informazioni per vari scopi al fine di fornire e migliorare il nostro Servizio nei confronti degli utenti.

<h1>Tipi di Dati Raccolti</h1>
<h2>Dati Personali</h2>

Durante l'utilizzo del nostro Sito, potremmo chiederti di fornirci alcune informazioni personali identificative che possono includere, ma non sono limitate a:

Nome e cognome
Indirizzo email
Numero di telefono
Informazioni di pagamento (se applicabile)
Dati di Utilizzo

Possiamo anche raccogliere informazioni su come il Servizio viene accesso e utilizzato ("Dati di Utilizzo"). Questi Dati di Utilizzo possono includere informazioni come l'indirizzo IP del tuo computer, il tipo di browser, la versione del browser, le pagine del nostro Servizio che visiti, l'ora e la data della tua visita, il tempo trascorso su queste pagine e altri dati diagnostici.

<h1>Utilizzo dei Dati</h1>
Utilizziamo i dati raccolti per vari scopi, tra cui:

Fornire e mantenere il nostro Servizio
Notificarti eventuali modifiche al nostro Servizio
Fornire assistenza clienti
Fornire analisi o informazioni preziose in modo che possiamo migliorare il nostro Servizio
Monitorare l'utilizzo del nostro Servizio
Rilevare, prevenire e affrontare problemi tecnici
Condivisione dei Dati
Fornitori di Servizi

Potremmo impiegare terze parti e società di terze parti per facilitare il nostro Servizio ("Fornitori di Servizi"), per fornire il Servizio per nostro conto, per eseguire servizi legati al Servizio o per aiutarci nell'analisi dell'utilizzo del nostro Servizio.

<h1>Compliance Legale</h1>

Potremmo divulgare i tuoi Dati Personali nei buoni sensi in cui ciò è richiesto per ottemperare a un obbligo legale, per proteggere e difendere i diritti o la proprietà di [Nome del Tuo Sito], per indagare o proteggerci da attività illegali o sospette.

<h1>Sicurezza dei Dati</h1>
La sicurezza dei tuoi dati è importante per noi, ma ricorda che nessun metodo di trasmissione su Internet o metodo di archiviazione elettronica è sicuro al 100%. Pertanto, pur facendo del nostro meglio per proteggere i tuoi dati personali, non possiamo garantirne la sicurezza assoluta.

<h1>Collegamenti ad Altri Siti</h1>
Il nostro Servizio può contenere collegamenti ad altri siti che non sono gestiti da noi. Se fai clic su un collegamento di terze parti, verrai reindirizzato al sito di quella terza parte. Ti consigliamo vivamente di esaminare l'Informativa sulla Privacy di ogni sito che visiti.

<h1>Modifiche a questa Privacy Policy</h1>
Ci riserviamo il diritto di aggiornare periodicamente la nostra Privacy Policy. Ti informeremo di eventuali modifiche pubblicando la nuova Privacy Policy su questa pagina.

<h1>Contattaci</h1>
Se hai domande sulla nostra Privacy Policy, contattaci:

Via email: alessandro.capanna@studenti.ittsrimini.edu.it
Tramite il nostro sito web
</p>
